build/views/templates/user-popover.jade
.info-contact-popover
    .span3
        .img-profil
    .span9
        p Numéro : {{user.number}}
        div 
            .span12
                span(class="iconperso-{{user.status.slug}}")
                span {{user.status.name}}

    .btn-group.btn-action-contact
        a.btn(href="#/contact/{{user.id}}")
            i.icon-user
        a.btn(ng-click="openChat(user, 'voice')")
            .iconperso-phone
        a.btn(ng-click="openChat(user, 'text')")
            i.icon-envelope
        a.btn(href="#/visio/{{user.id}}")
            i.icon-facetime-video

build/views/templates/user-popover.html
<div class="info-contact-popover"><div class="span3"><div class="img-profil"></div></div><div class="span9"><p>Numéro : {{user.number}}</p><div> <div class="span12"><span class="iconperso-{{user.status.slug}}"></span><span>{{user.status.name}}</span></div></div></div><div class="btn-group btn-action-contact"><a href="#/contact/{{user.id}}" class="btn"><i class="icon-user"></i></a><a ng-click="openChat(user, 'voice')" class="btn"><div class="iconperso-phone"></div></a><a ng-click="openChat(user, 'text')" class="btn"><i class="icon-envelope"></i></a><a href="#/visio/{{user.id}}" class="btn"><i class="icon-facetime-video"></i></a></div></div>
